<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/all-ligas.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>LAIRD</title>
</head>

<!-- header usuarios -->
<%- include('Partials/userHeader') %>
    <!--fin del header usuarios -->
    <!-- header main -->
    <%- include('Partials/mainHeader') %>
        <!--fin del header main -->


        <body>
            <!--inicio todas las ligas -->

            <h1>Todas las ligas</h1>

            <section class="grid-container">
                <% ligas.forEach(liga=> { %>

                    <article>
                        <a href="ligas/detail/<%= liga.id %>">
                        <div class="logo-articulo">
                            <img id="myImgliga" src="/images/ligas/<%= liga.image %>" class="imgLigas" alt="Logo LIGA">
                        </div>
                        </a>
                        <div class="data">
                            <span class="span-ligas" id="name">
                                <%= liga.name %>
                            </span>
                            <span class="span-ligas">
                                Provincia: <%= liga.province %>
                            </span>
                            <span class="span-ligas">
                                Tipo de Liga: <%= liga.tipe %>
                            </span>
                            <div class="botones">
                            <button class="button-all-ligas" >Equipos</button>
                            <button class="button-all-ligas" >Noticias</button>
                            </div>
                        </div>
                        <div>

                        </div>
                    </article>


                    <% }) %>

            </section>


            <!--fin todas las ligas  -->


        </body>

</html>