<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>LAIRD</title>
</head>
<!-- header usuarios -->
<%- include('Partials/userHeader') %>
    <!--fin del header usuarios -->
    <!-- header main -->
    <%- include('Partials/mainHeader') %>
        <!--fin del header main -->

<body>

    <div class="div-container">

    <h3><%= unEvento.name %> </h3>
    <h3><%= unEvento.province %> </h3>       
    <h3><%= unEvento.tipe %> </h3> 
    
</div>
</body>
<!-- footer-->
<%- include('Partials/footer') %>
<!--fin del footer -->
</html>