<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>LAIRD</title>     
    <!-- link css -->
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
  </head>



<!-- link js -->
<script src= "/js/main.js" defer></script>

   
<body>  
   
    <section class="main-section">    
        <section class="section">
            <div class="title">
                <p class='titulos'>Crear Evento</p>
                <div class="picture">
                    <a href="/"> <img src="\images\views\lairdlogotrans.png" alt="logo" class= "logo"></a>
                 </div>                     
                     <a href="javascript:history.back()"><button class="mi-icono"><i
                        class="fas fa-arrow-left"></i></button></a>              
                            
            </div>

                
            <form method="POST" class = "input-fields"action="/eventos/register" enctype="multipart/form-data" id='usersForm'>

                <div class="error_messages">
                    <% if (typeof(errors) != 'undefined') { %>

                        <% for( let index = 0; index < errors.length; index++ ) { %>
                            <p><%= errors[index].msg %> </p>
                        <% } %> 

                    <% } %>

                </div>                           
                                       
                    <input class="input-decoration" type="text" placeholder="Nombre" name="name" <% if (typeof(old) != 'undefined') { %> value= <%= old.name %> <%} %>>
                    <select name="tipe" class="input-decoration" id= 'tipeUsers'>
                        <option value="default" selected disabled onchange="setSucces()">Tipo de Evento</option>
                        <option value="Bout">Bout</option>
                        <option value="Scremmage">Scremmage</option>
                        <option value="Triangular">Triangular</option>                        
                        <option value="Torneo Corto">Torneo Corto</option> 
                        <option value="Torneo Largo">Torneo Largo</option>
                        <option value="Clinica">Clinica</option>
                        <option value="Otro">Otro</option>
                    </select>   
                    <div class="description_box">
                        <label for="" class="label_decoration">Presentación / Resumen:</label>
                       <textarea name="resume" id="" cols="30" rows="5" placeholder="Contanos Breve, en 5 lineas, de que se trata el evento"><% if (typeof(old) != 'undefined') { %> <%= old.resume %> <%} %></textarea>        
                     </div>
                    
                    <div class="description_box">
                        <label for="" class="label_decoration">Descripción:</label>
                       <textarea name="description" id="" cols="30" rows="10" placeholder="Aqui desarrolla todo lo que desees agregar sobre el evento"><% if (typeof(old) != 'undefined') { %> <%= old.description %> <%} %></textarea>        
                     </div>

                     <div class="description_box">
                        <label for="" class="label_decoration">INFO Importante:</label>
                       <textarea name="info" id="" cols="15" rows="3" placeholder="Agrega la informacion importante: se paga entrada ? se suspende por lluvia? habra comida?"><% if (typeof(old) != 'undefined') { %> <%= old.info %> <%} %></textarea>        
                     </div>
                    
                    <select name="province" class="input-decoration" id= 'province'>
                        <option value="default">Seleccione la provincia</option>
                        <option value="CABA">CABA</option>
                        <option value="Buenos Aires">Buenos Aires</option>
                        <option value="Catamarca">Catamarca</option> 
                        <option value="Chaco">Chaco</option> 
                        <option value="Chubut">Chubut</option> 
                        <option value="Cordoba">Córdoba</option> 
                        <option value="Corrientes">Corrientes</option> 
                        <option value="Entre Rios">Entre Ríos</option> 
                        <option value="Formosa">Formosa</option> 
                        <option value="Jujuy">Jujuy</option> 
                        <option value="La Pampa">La Pampa</option> 
                        <option value="La Rioja">La Rioja</option> 
                        <option value="Mendoza">Mendoza</option> 
                        <option value="Misiones">Misiones</option>
                        <option value="Neuquen">Neuquén</option> 
                        <option value="Rio Negro">Río Negro</option> 
                        <option value="Salta">Salta</option> 
                        <option value="San Juan">San Juan</option> 
                        <option value="San Luis">San Luis</option> 
                        <option value="Santa Cruz">Santa Cruz</option> 
                        <option value="Santa Fe">Santa Fe</option> 
                        <option value="Santiago Del Estero">Santiago del Estero</option> 
                        <option value="Tierra del Fuego">Tierra del Fuego</option> 
                        <option value="Tucuman">Tucumán</option> 
                        </select>
                        <input class="input-decoration" type="text" placeholder="Ciudad" name="city" <% if (typeof(old) != 'undefined') { %> value= <%= old.city %> <%} %>>
                        <input class="input-decoration" type="text" placeholder="Direccion" name="adress" <% if (typeof(old) != 'undefined') { %> value= <%= old.adress %> <%} %>>
                        <input class="input-decoration" type="text" placeholder="Lugar- Pista - Club" name="place" <% if (typeof(old) != 'undefined') { %> value= <%= old.place %> <%} %>>
                        <input class="input-decoration" type="text" placeholder="HORARIOS" name="schedules" <% if (typeof(old) != 'undefined') { %> value= <%= old.schedules %> <%} %>>
                        <label for="Date">Fecha de Inicio</label>
                        <input type="date" name="startdate" id="startdate" placeholder="Selecciona una fecha">
                        <label for="Date">Fecha de FIN</label>
                        <input type="date" name="finishdate" id="finishdate" placeholder="Selecciona una fecha">
                        <select name="month" class="input-decoration" id= 'province'> 
                            <option value="default" selected disabled onchange="setSucces()">Seleccione el mes</option>
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option> 
                            <option value="Abril">Abril</option> 
                            <option value="Mayo">Mayo</option> 
                            <option value="Junio">Junio</option> 
                            <option value="Julio">Julio</option> 
                            <option value="Agosto">Agosto</option> 
                            <option value="Septiembre">Septiembre</option> 
                            <option value="Octubre">Octubre</option> 
                            <option value="Noviembre">Noviembre</option> 
                            <option value="Diciembre">Diciembre</option>
                        </select> 

                        <input class="input-decoration" type="text" placeholder="Link para Oficiar" name="link_officiate" <% if (typeof(old) != 'undefined') { %> value= <%= old.link_officiate %> <%} %>>
                        <input class="input-decoration" type="text" placeholder="Link para Voluntarios" name="link_enroll" <% if (typeof(old) != 'undefined') { %> value= <%= old.link_enroll %> <%} %>>
                        <input class="input-decoration" type="text" placeholder="Link de inscripción para Equipos - Patinadores" name="link_participate" <% if (typeof(old) != 'undefined') { %> value= <%= old.link_participate %> <%} %>>
                        <input class="input-decoration" type="text" placeholder="/instagram" name="link_insta" <% if (typeof(old) != 'undefined') { %> value= <%= old.link_insta %> <%} %>>
                         
                        <div class= "avatar">
                            <label for="" class="label_decoration">POSTER DEL EVENTO</label>
                            <label for="" Class ="small_label">(cargar en formato feed instagram relacion 1.1)</label>
                            <input class="img_field" type="file" name="evento_img" id="" enctype="multipart/form-data">
                        </div>
                    <small id= "user-mesage"></small>
                                   
                    <button type="submit" class="submit-button">Crear</button>
                
            </form>

        </section>
    </section>      
</body>

<script>
    // Obtener la fecha actual en formato YYYY-MM-DD
    const currentDate = new Date().toISOString().slice(0, 10);
  
    // Establece la fecha actual como el valor inicial y el placeholder
    document.getElementById("finishdate").value = currentDate;
    document.getElementById("finishdate").setAttribute("placeholder", currentDate);
    document.getElementById("startdate").value = currentDate;
    document.getElementById("startdate").setAttribute("placeholder", currentDate);
  </script>
</html>