<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/integrar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>LAIRD</title>
</head>
<!-- header usuarios -->
<%- include('Partials/userHeader') %>
    <!--fin del header usuarios -->
    <!-- header main -->
    <%- include('Partials/mainHeader') %>
        <!--fin del header main -->

        <body>

            <div class="div-container">
                
                <div class="create">
                    <a href="javascript:history.back()"><button class="mi-icono"><i
                        class="fas fa-arrow-left"></i></button></a>
                    <form action="/users/integrar" method="POST" class="create">

                        <label for="equipo">Equipo</label>
                        <select name="equipo">
                            <option value=<%=equipo.id %>> <%= equipo.name %>
                            </option>

                        </select>

                        <label for="Patinador">patinador</label>
                        <select name="patinador" multiple class="multiple" class="select2">
                            <% patinadores.forEach(patinador=> { %>
                                <option value="<%= patinador.id %>">
                                    <%=patinador.derby_name%>
                                        <%=patinador.number%>
                                </option>
                                <% }); %>
                        </select>

                        <button type="submit" class="guardar">Guardar</button>

                    </form>
                    
                </div>
                
                <div class="integrantes">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Derby-Name</th>
                                <th>Número</th>
                                <th>Fecha roster</th>
                                <th>Roster</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% patinadoresFormateados.forEach((patinador, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= patinador.derby_name %>
                                    </td>
                                    <td>
                                        <%= patinador.number %>
                                    </td>
                                    <% if (patinador.Equipos && patinador.Equipos.length> 0) { %>
                                        <% const equipo=patinador.Equipos[0]; %>
                                            <% if (equipo.patinadorEquipo.roster==1) { %>
                                                <td>
                                                    <%= equipo.patinadorEquipo.updated_at %>
                                                </td>
                                                <% } else { %> %>
                                                    <td>--------</td>
                                                    <% } %>
                                                        <td>
                                                            <%= equipo.patinadorEquipo.roster ? 'Sí' : 'No' %>
                                                        </td>
                                                        <td>
                                                            <form
                                                                action="../activarRoster/<%= equipo.patinadorEquipo.id %>"
                                                                method="POST" id="active" class="form-botones">
                                                                <input type="hidden" name="equipoId"
                                                                    value="<%= equipo.id %>">
                                                                <input type="hidden" name="nuevaCondicion" value="1">
                                                                <span><button type="submit"
                                                                        class="activar-btn">SI</button></span>
                                                            </form>
                                                        </td>

                                                        <td>
                                                            <form
                                                                action="../desactivarRoster/<%= equipo.patinadorEquipo.id %>"
                                                                method="POST" id="active" class="form-botones">
                                                                <input type="hidden" name="equipoId"
                                                                    value="<%= equipo.id %>">
                                                                <input type="hidden" name="nuevaCondicion" value="0">
                                                                <span><button type="submit"
                                                                        class="desactivar-btn">NO</button></span>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form
                                                                action="../delete/<%= equipo.patinadorEquipo.id %>/<%= equipo.id %>?_method=DELETE"
                                                                method="POST" enctype="multipart/form-data" id="delete">                                                
                                                                
                                                                <span><button type="submit"
                                                                        class="desactivar-btn">Eliminar</button></span>
                                                            </form>
                                                        </td>

                                                        <% } else { %>
                                                            <td>No disponible</td>
                                                            <td>No</td>
                                                            <% } %>

                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>


            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('.multiple').select2({
                        placeholder: "Selecciona patinadores",
                        allowClear: true
                    });
                });
            </script>

        </body>
        <!-- footer-->
        <%- include('Partials/footer') %>
            <!--fin del footer -->

</html>