<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/myPanel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/alerts.js"></script>
    <title>LAIRD</title>
</head>
<!-- header usuarios -->
<%- include('Partials/userHeader') %>
    <!--fin del header usuarios -->
    <!-- header main -->
    <%- include('Partials/mainHeader') %>
        <!--fin del header main -->

        <body>

            <div class="my-panel">


                <div class="miliga-container" id="patinador-detalle">

                    <div>
                        <img id="" src="/images/patinadores/<%= patinador.avatar%>" class="img-patinador"
                            alt="avatar Patinador">
                    </div>
                    <h4 id="titulo-patinador-detalle" style="color: rgb(53, 0, 114)">
                        Cuenta <%= patinador.condition %>
                    </h4>
                    <div>
                        <h3 id="titulo-patinador-detalle">Derby Name: <%= patinador.derby_name %>
                        </h3>
                        <h3 id="titulo-patinador-detalle">Numero: <%= patinador.number %>
                        </h3>
                        <h3 id="titulo-patinador-detalle">Pronombres: <%= patinador.pronoun %>
                        </h3>
                        <h3 id="titulo-patinador-detalle">Provincia: <%= patinador.province %>
                        </h3>
                    <hr>                   
                        <h3 id="titulo-patinador-detalle">Jugas: <%= patinador.play %>
                        </h3>
                        <h3 id="titulo-patinador-detalle">Refereas: <%= patinador.ref %>
                        </h3>
                        <h3 id="titulo-patinador-detalle">Cuerpo Tecnico: <%= patinador.coach %>
                        </h3>
                        <h3 id="titulo-patinador-detalle">Voluntario, Salud, fotografo: <%= patinador.volun%>
                        </h3>
                    <hr> 
                    </div>

                      

                    <% if (patinador.Equipos.length==0 ) { %>
                        <h2>Todavia no Formas parte de un equipo</h2>
                        <% }else{ %>
                            <h2>Tus equipos</h2>
                            <% }%>
                                <% patinador.Equipos.forEach(equipo=> { %>
                                    <div class="eventos-control">
                                        <h3>
                                            <%= equipo.name %>
                                        </h3>
                                        <% if (equipo.PatinadorEquipo) { %>
                                            <h5>Roster: <%= equipo.PatinadorEquipo.roster ? 'Sí' : 'No' %>
                                            </h5>
                                            <% } else { %>
                                                <h5>Información de roster no disponible.</h5>
                                                <% } %>

                                                    <div class=botonera id="en-linea">

                                                        <span><a href="/equipos/detail/<%= equipo.id %>"><button
                                                                    role="link" class="mi-icono"><i
                                                                        class="fas fa-eye"></i></button></a></span>


                                                    </div>
                                    </div>
                                    <% }) %>
                </div>
            </div>

        </body>
        <!-- footer-->
        <%- include('Partials/footer') %>
            <!--fin del footer -->

</html>